################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TwoFish/v16
/TwoFish/obj/Debug
/TwoFish/bin/Debug
